extends layout

block content
  h1 #{heading}


  // Links for other categories
  ul
    li
      a(href="/login") Login
    li
      a(href="/category") Category
    li
      a(href="/store_location") Store Location
    li 
      a(href="/register") register 
    li 
      a(href="/addfurniture") addfurniture
    // Add more links as needed




