extends layout
block content
    .main-content 
    h1 Our Locations 
    table(border=1)
        for item, index  in locations 
            tr  
                td  #{index + 1}
                td 
                    #{item.store_address}
    h2 Add Store Location
    form(action='/add-location', method='POST')
        textarea(name='store_address' rows=6 cols=50)
        div 
            input(type='submit' value='Submit')